<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <title>Detalles de Producto</title>
        <link rel="stylesheet" href="/css/detalle-producto.css" />
    </head>
    <body>
        <header><%- include ("../partials/header") %></header>
        <main>
            <section id="contenedor-detalle">
                <img src="<%= vino.imagen %>" alt="vino1" />
                <div id="contenedor-detalle-vino">
                    <h2><%=vino.nombre%></h2>
                    <div class="contenedor-detalle-info">
                        <h3>Variedad:</h3>
                        <p><%= vino.bodega %></p>
                    </div>
                    <div class="contenedor-detalle-info">
                        <h3>Descripción:</h3>
                        <p><%=vino.descripcion%></p>
                    </div>
                    <div class="contenedor-detalle-info">
                        <h3>Precio:</h3>
                        <p><%=vino.precio%></p>
                    </div>
                    <div id="contenedor-detalle-botones">
                        <button type="submit" class="boton-detalle">
                            Comprar
                        </button>
                        <button type="submit" class="boton-detalle">
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </section>
        </main>
        <footer><%- include ("../partials/footer") %></footer>
    </body>
</html>
