<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
        <title>Detalles de Producto</title>
        <link rel="stylesheet" href="/css/detalle-producto.css" />
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <div class="item-wrapper">
            <section id="contenedor-detalle">
                <div class="img-wrapper"><img src="<%= vino.imagen %>" alt="vino1" /></div>
                <div id="contenedor-detalle-vino">
                    <h2>
                        <%=vino.nombre%>
                    </h2>
                    <div class="contenedor-detalle-info">
                        <h3>Precio:</h3>
                        <p>
                            $<%=vino.precio%>
                        </p>
                    </div>
                    <div class="contenedor-detalle-info">
                        <h3>Bodega:</h3>
                        <p>
                            <%= vino.vinoBodega.nombre %>
                        </p>
                    </div>
                    <div class="contenedor-detalle-info">
                        <h3>Variedad:</h3>
                        <p>
                            <%= vino.vinoUva.nombre %>
                        </p>
                    </div>
                    <div class="contenedor-detalle-info">
                        <h3>Descripción:</h3>
                        <p id="descripcion">
                            <%=vino.descripcion%>
                        </p>
                    </div>
            </section>

            <div id="contenedor-detalle-botones">
                <form action="/products/detalle/cava/<%= vino.id %>" method="POST">
                    <button type="submit" class="boton-detalle">
                        <% if (cava==true) { %>
                            SACAR DE MI CAVA
                            <% } else { %>
                                AGREGAR A MI CAVA
                                <% } %>
                    </button>
                </form>
                <form action="/products/detalle/favorito/<%= vino.id %>" method="POST">
                    <button type="submit" class="boton-detalle">
                        <% if (favorito==true) { %>
                            SACAR DE FAVORITOS
                            <% } else { %>
                                AÑADIR A FAVORITOS
                                <% } %>
                    </button>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>

</html>