<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <title>Cava</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&family=Cinzel:wght@700&family=Monoton&family=Oswald&family=Playfair+Display:ital,wght@1,600&family=Pontano+Sans&family=Roboto&family=Syncopate&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/cava.css" />
        <link rel="stylesheet" href="/css/vinoteca.css">
    </head>
    <body>
        <header><%- include ("../partials/header") %></header>

        <main>
            <h2>VINOS EN LA CAVA</h2>
            <section class="wine-shelf">
                <div class="flex-div">
                    <% for (let vino of vinos) { %>
                    <div class="articles-wrapper">
                        <article class="wine-card">
                            <a href="/products/detalle/<%= vino.id %>"
                                ><img
                                    src="<%= vino.imagen %>"
                                    alt=""
                                    width="100%"
                                    class="wine-card-img"
                            /></a>
                            <div class="wine-card-body">
                                <div class="wine-card-texts">
                                    <div class="wine-card-product-description">
                                        <h4 class="card-title">
                                            <%= vino.nombre %>
                                        </h4>
                                    </div>
                                    <p class="card-text card-price">
                                        $<%= vino.precio %>
                                    </p>
                                </div>
                                <div class="wine-card-icons">
                                    <form action="/products/detalle/cava/<%= vino.id %>" method="POST">
                                        <button type="submit" class="button-estrella-carrito">
                                            <i class="material-icons">
                                                remove_shopping_cart
                                            </i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>
                    <% } %>
                </div>
            </section>
            <div class="wrapper-total-pagar">
                <section id="total-pagar">
                    <h3>Resumen</h3>
                    <p>Valor a pagar: $<%= precio %> </p>
                    <button type="submit" id="boton-pagar">Pagar</button>
                </section>
            </div>
        </main>
        <footer><%- include ("../partials/footer") %></footer>
    </body>
</html>
