<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title><%= pageTitle  %> </title>
    <link rel="stylesheet" href="/css/agregarProducto.css" />
  </head>
  <body class="agregarProducto-body">
    <header><%- include ("../partials/header") %></header>
    <main class="agregarProducto-main-container">
      <form class="agregarProducto-form-container" method="POST">
        <div class="agregarProducto-div-boxes">
          <label for="nombreProducto">Nombre</label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="nombreProducto"
            id="nombreProducto"
            value= "<%= vino.nombre %>"
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="descripcionProducto">Bodega:</label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="descripcionProducto"
            id="descripcionProducto"
            value= "<%= vino.bodega %>"
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="precioProducto">Precio:</label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="number"
            name="precioProducto"
            id="precioProducto"
            value= "<%= vino.precio %>"
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="precioProducto">Descripcion:</label>
          <% if (vino) {%> 
          <textarea class="agregarProducto-text-area" name="descripcion" id="" cols="30" rows="10"><%= vino.descripcion %></textarea>
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="imagenProducto">Imagen del producto: </label> 
          <input
            class="agregarProducto-text-inputs"
            type="file"
            accept="image/jpg"
            name="imagenProducto"
            id="imagenProducto"
            value="<%= vino.imagen %>"
          />
        </div>
        <div>
          <button
            class="agregarProducto-button"
            type="submit"
            value="Agregar producto"
          >
            Editar Producto
          </button>
        </div>
      </form>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
