<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title><%= pageTitle  %> </title>
    <link rel="stylesheet" href="/css/agregarProducto.css" />
  </head>
  <body class="agregarProducto-body">
    <header><%- include ("../partials/header") %></header>
    <main class="agregarProducto-main-container">
      <form class="agregarProducto-form-container" method="POST">
        <div class="agregarProducto-div-boxes">
          <label for="nombreProducto"></label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="nombreProducto"
            id="nombreProducto"
            placeholder= "<%= vino.nombre %> "
            autocomplete= <%= vino.nombre %> 
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="descripcionProducto"></label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="descripcionProducto"
            id="descripcionProducto"
            placeholder= "<%= vino.descripcion %> "
            autocomplete= <%= vino.descripcion %> 
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="precioProducto"></label>
          <% if (vino) {%> 
          <input
            class="agregarProducto-text-inputs"
            type="number"
            name="precioProducto"
            id="precioProducto"
            placeholder= "<%= vino.precio  %>"
            autocomplete= <%= vino.precio  %> 
          />
          <% } %> 
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="imagenProducto">Imagen del producto: </label>
          <input
            class="agregarProducto-text-inputs"
            type="file"
            accept="image/jpg"
            name="imagenProducto"
            id="imagenProducto"
          />
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="categoria">Categorias: </label>
          <select name="categoria">
            <option value="explorador">Explorador</option>
            <option value="degustador">Degustador</option>
            <option value="granCatador">Gran catador</option>
          </select>
        </div>
        <div>
          <button
            class="agregarProducto-button"
            type="submit"
            value="Agregar producto"
          >
            Agregar producto
          </button>
        </div>
      </form>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
