<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Vinoteca</title>
    <link rel="stylesheet" href="/css/cava.css" />
  </head>
  <body>
    <header><%- include ("../partials/header") %></header>

    <main>
      <h2>Todos nuestros vinos</h2>
      <section class="vinos-cava">
        <% for (let vino of vinos) { let link = "/editarProductos/" + vino.id%> 
          <article class="articulo-vino">
            <div class="contenedor-cava">
              <img src=<%= vino.imagen %>  alt="" width="100%">
              <h3><%= vino.nombre %> </h3>
              <div>
                <i class="far fa-star"></i>
                <a href= <%= link  %> ><i class="far fa-edit"></i></a>
              </div>
              <h4><%= vino.descripcion %> </h4>
              <p><% vino.precio %> </p>
            </div>
          </article>
          <% } %> 
        
      </section>
      <form>
        <button type="button" class="button-add-product">
          <a href="/agregarProductos">
            <i class="fas fa-plus"></i>
          </a>
        </button>
      </form>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
