<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Vinoteca</title>
    <link rel="stylesheet" href="/css/cava.css" />
  </head>
  <body>
    <header><%- include ("../partials/header") %></header>

    <main>
      <h2>Todos nuestros vinos</h2>
      <section class="vinos-cava">
        <% for (let vino of vinos) { %>
        <article class="articulo-vino">
          <div class="contenedor-cava">
            <a href="/products/detalle/<%= vino.id %>"><img src="<%= vino.imagen %>" alt="" width="100%" /></a>
            <h3><%= vino.nombre %></h3>
            <div>
              <i class="far fa-star"></i>
              <a href="/products/editar/<%= vino.id %>"><i class="far fa-edit"></i></a>
              <form method="POST" action="/products/vinoteca?_method=DELETE">
                <button type="submit">DELETE</button>
              </form>
            </div>
            <h4><%= vino.bodega %></h4>
            <p><% vino.precio %></p>
          </div>
        </article>
        <% } %>
      </section>
        <a class="button-add-product" href="/products/agregar">
          <i class="fas fa-plus"></i>
        </a>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
