<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Vinoteca</title>
    <link rel="stylesheet" href="/css/cava.css" />
  </head>
  <body>
    <header><%- include ("../partials/header") %></header>

    <main>
      <h2>Todos nuestros vinos</h2>
      <section class="vinos-cava">
        <% for (let vino of vinos) {%> 
          <article class="articulo-vino">
            <div class="contenedor-cava">
              <img src=<%= vino.imagen %>  alt="" width="100%">
              <h3><%= vino.nombre %> </h3>
              <div>
                <i class="far fa-star"></i>
              </div>
              <h4><%= vino.descripcion %> </h4>
              <p><% vino.precio %> </p>
            </div>
          </article>
          <% } %> 
        <!-- -->
        
      </section>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
