<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <title>Cuenta</title>
        <link rel="stylesheet" href="/css/cuenta.css" />
    </head>
    <body>
        <header><%- include ("../partials/header") %></header>
        <main>
            <div class="cuenta_outer-edge">
                <div class="cuenta_container">
                    <h2>Informacion de tu cuenta</h2>
                    <div class="cuenta_container-info">
                        <h3>Nombre y Apellido:</h3>
                        <p><%= user.name %></p>
                    </div>
                    <div class="cuenta_container-info">
                        <h3>Correo Electronico:</h3>
                        <p><%= user.email %></p>
                    </div>
                    <div class="cuenta_container-info">
                        <h3>Fecha de Nacimiento:</h3>
                        <p><%= user.birthday %></p>
                    </div>
                    <div class="cuenta_container-info">
                        <h3>DNI:</h3>
                        <p><%= user.dni %></p>
                    </div>

                    <div class="cuenta_container-boton">
                        <a class="cuenta_boton-editar" href=""
                            >Editar tu cuenta</a
                        >
                    </div>
                </div>
            </div>
        </main>
        <footer><%- include ("../partials/footer") %></footer>
    </body>
</html>
